@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main{
    background-color: rgba(255, 255, 255, 0.733);
    padding: 10px;
    margin: auto;
    width: 80vw;
    margin-top: 10px;
    border-radius: 5px;
}

h1{
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.596);
    text-align: center;
}

img{
    display: block;
    margin: auto;
}

#phone{ display: block;}
#tablet{ display: none;}
#pc{ display: none;}
#tv{ display: none;}
#print{ display: none;}
