@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right,#3CA6A6,#024959);
}

main{
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 15px #024959;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #024959;
    text-align: center;
    text-shadow: 1px 1px 2px #012831b0;
}

h2{
    color: #e2a446;
}

p{
    text-align: justify;
}